
.main-container{
    width: 100vw;
    height: 80vh;
    /* display: flex; */
    /* align-items: center;  */
    /* justify-content: center; */
}

.search-zipcode label{
    display: block;
    font-size: 1.8rem;
    text-align: center;
    font-family: helvetica;
}

.search-zipcode{
    height: 100px;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    /* align-items: center;
    justify-content: center; */
}

.search{
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    /* border: solid 2px #c9c9c9; */
    background-color:  #ececec;
    margin: auto;
}

.error-message{
    margin-left: 50px;
    font-size: 0.8rem;
    font-weight: lighter;
    color: red;
}

.search input{
    height: 90%;
    width: 80%;
    color:#222222;
    border: none;
    background-color:  #ececec;
}

.search input:focus{
    outline: none;
}

.search button{
    height: 90%;
    border: none;
    background: none;
    aspect-ratio: 1/1;
}

.search button svg{
    max-height: 100%;
    color: black;
    cursor: pointer;
}

.card-block-item{
    width: 45%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding: 2%;
    box-sizing: border-box;
    background-color: #ececec;

    list-style: none;

    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

.info-titles{
    color:fuchsia;
}

.info-body{
    color:#00a6ff;
}

