

header{
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
}

.header-container{
    height: 100%;
    width: 20%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

#title-block-header, #title-block-header span{
    color: white;
    font-size: 2rem;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

#me{
    color: green !important;
}

#xi{
    color: white !important;
}

#co{
    color: red !important;
}


#social-block-header{
    padding: 2px;
    align-items:start;
}

.social-space{
    width: 15%;
    aspect-ratio: 1/1;
    background-color:#767676;
}